.pagination-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.75rem 0 0.75rem;
    margin-bottom: auto;
}
.pagination-wrapper button{
    display: inline;
}