.feature-section-header{
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
}
.feature-section-header h3, .feature-section-header a{
    color: var(--light-blue);
    text-decoration: none;
}
.feature-section-header a{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.2rem;
}
.feature-section-header a:hover{
    color: var(--blue);
}
