.input{
    width: 225px;
    height: 30px;
    border-radius: 8px;
    border: none;
    padding-left: 10px;
    background-color: var(--sc-bg);
    color: var(--light-blue);
    border: 2px solid var(--neon-blue);
    outline: none;
    transition: 0.3s ease-in;
}
.input.open{
    z-index: 1000;
    display: block;
    position: absolute;
    width: 40%;
}
.overlay {
  position: fixed;
  inset: 0;
  backdrop-filter: blur(2px);
  background: rgba(0, 0, 0, 0.2); 
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.overlay.open {
  opacity: 1;
  pointer-events: auto;
}